<div class="bPhotos"></div>
<div class="showMeOnTop"><%=image_tag("477.GIF", alt: "home image",
width: 62, height: 64, class: "showGif") %>
<%= link_to "Sign up", signup_path,
class: "btn btn-lg btn-primary pleaseReplace", remote: true %>
</div>