<div class="bPhotos"></div>
<div class="showMeOnTop"><%=image_tag("wild_cat.gif", alt: "home image",
width: 50, height: 40, class: "showGif") %>
<%= link_to "Sign up", signup_path,
class: "btn btn-lg btn-primary pleaseReplace", remote: true %>
</div>