<% if logged_in? %>
    <div class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="tasks_form">
        <%= render 'shared/task_form' %>
      </section>
  </div>
<% else %>
<div class="bPhotos"></div>
<%= render 'sessions/new' %>
<% end %>